{{ header }}

program {{ name }}_test_main
  use TesterMain
  use {{ name }}

  implicit none
{% for case in cases %}
  ! Test {{ loop.index }}: {{ case["description"] }}
  {% set expected = case["expected"] | replace("[", "[character(len=20) :: ") %}
  call assert_equal({{ expected }}, {{ case["property"] }}({{ case["input"]["number"] }}), &
                    "{{ case["description"] }}")
{% endfor %}
  call test_report()

end program
