bin/configlet
bin/configlet.exe
__pycache__
# make and testing artifacts
build*
exercises/practice/*/*_build_all.f90
exercises/practice/*/testlib
exercises/practice/*/Testing
exercises/practice/*/Makefile
exercises/practice/*/CMakeFiles
exercises/practice/*/CMakeCache.txt
exercises/practice/*/*.cmake
exercises/practice/*/DartConfiguration.tcl
.vscode
*.mod
