{{ header }}

program {{ name }}_test_main
  use TesterMain
  use {{ name }}

  implicit none
{% for case in cases %}
  ! Test {{ loop.index }}: {{ case["description"] }}
  call assert_equal({{ case["expected"] }}, sum_multiples([integer:: {{ case["input"]["factors"] | join(", ") }}], {{ case["input"]["limit"] }}), &
    "{{ case["description"] }}")
{% endfor %}
  call test_report()

end program
