{{ header }}

program {{ name }}_test_main
   use TesterMain
   use {{ name }}

   implicit none
{% for case in cases %}
   ! Test {{ loop.index }}: {{ case["description"] }}
   call assert_equal({{ case["expected"] }}d0, age_in_years("{{ case["input"]["planet"] }}", {{ case["input"]["seconds"] }}.d0), "{{ case["description"] }}")
{% endfor %}
   call test_report()

end program
