{{ header }}

program {{ name }}_test_main
   use TesterMain
   use {{ name }}

   implicit none
{% for case in cases %}
   ! Test {{ loop.index }}: {{ case["description"] }}
{%- if case["property"] == "allergicTo" %}
   call assert_equal({{ case["expected"] }}, {{ case["property"] }}("{{ case["input"]["item"] }}", {{ case["input"]["score"] }}), "{{ case["description"] }}")
{%- elif case["property"] == "list" %}
   call assert_equal('{{ case["expected"] | join(" ") }}', allergicList({{ case["input"]["score"] }}), "{{ case["description"] }}")
{%- endif %}
{% endfor %}
   call test_report()

end program
