name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-24.04

          - os: macos
            runs-on: macos-15

    name: ${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install GFortran (macOS)
        if: matrix.os == 'macos'
        run: |
          brew install gcc@15
          echo "FC=$(brew --prefix gcc)/bin/gfortran" >> $GITHUB_ENV

      - name: Verify all exercises
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .
          ctest -V
