name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-22.04

          - os: macos
            runs-on: macos-12

    name: ${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608

      - name: Set path to gfortran
        if: matrix.os == 'macos'
        run: |
          echo "FC=$(ls /usr/local/Cellar/gcc/*/bin/gfortran | tail -n1)" >> $GITHUB_ENV

      - name: Verify all exercises
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .
          ctest -V
