name: cmake

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  check-up-to-date:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Check if all exercise cmake files are up to date
        run: ./bin/check-cmake-files-up-to-date
