{{ header }}

program {{ name }}_test_main
   use TesterMain
   use {{ name }}

   implicit none
{% for case in cases %}
   ! Test {{ loop.index }}: {{ case["description"] }}
   call assert_equal("{{ case["expected"] }}", {{ case["property"] }}({{ case["input"]["number"] }}), "{{ case["description"] }}")
{% endfor %}
   call test_report()

end program
